<footer class="footer">
    <a class="arrow" href="#hero"><img src="./assets/images/ico-arrow.svg" alt=""></a>
    <nav class="menuFooter">
        <ul class="menu-footer-one">
            <li><a class="linkfooter" href="https://adalab.es/">Zapatillas </a></li>
            <li> <a class="linkfooter" href="https://adalab.es/">Ropa</a></li>
            <li><a class="linkfooter" href="https://adalab.es/">Niño/a</a></li>
            <li><a class="linkfooter" href="https://adalab.es/">Destacados</a></li>
            <li><a class="linkfooter" href="https://adalab.es/">Tips</a></li>
        </ul>
        <ul class="menu-footer-two">
            <li><a class="linkfooter" href="https://adalab.es/">Twitter</a></li>
            <li><a class="linkfooter" href="https://adalab.es/">Instagram</a></li>
            <li><a class="linkfooter" href="https://adalab.es/">Youtube</a></li>
        </ul>
        <ul class="copyRun">
            <li class="copy">©2023</li>
            <li class="werun">we <div class="heart"></div>run</li>
        </ul>



    </nav>



</footer>