<main>
  <header class="header">
    <a class="menu" href="https://adalab.es/">
      <img class="icon-menu" src="./assets/images/ico-menu.svg" alt="">
    </a>

  </header>
  <section id="hero" class="hero">

    <article class="article">
      <h1 class="title"> Comienzos compartidos </h1>
      <p class="text">Todo lo que necesitan para volver al cole con ilusión</p>
      <a class="scroll-down" href="#sectionThree">
        <img class="icon-scroll" src="./assets/images/ico-scroll-down.svg" alt="">
      </a>
    </article>
  </section>
  <section class="sectionTwo">
    <article class="articleTwo">
      <span class="small">Historias, moda y ropa deportiva</span>
      <h2 class="titleTwo"> Tu tienda de deporte</h2>
      <p class="textTwo">El deporte nos mantiene en forma.
        Nos mantiene alerta. Nuestra ropa deportiva para hombre y mujer te ofrece las últimas tecnologías, a la altura
        de tu rendimiento, para que superes tu mejor marca personal.
      </p>
      <a class="buy" href="">Comprar</a>
    </article>

  </section>

  <section id="sectionThree" class="sectionThree">

    <small class="smalltxt">¡Prepáralos con tus marcas favoritas!</small>
    <h3 class="titleThree">Vuelta al cole</h3>
    <ul class="circleImages">
      <li class="imgOne"><img class="imageOne" src="./assets/images/lpbts-mod05-img01-desk.png" alt="Niña con mochila">
        <figcaption class="txtimg">Mochilas escolares</figcaption>
      <li class="imgTwo"><img class="imagetwo" src="./assets/images/lpbts-mod05-img04-mob.png" alt="Niño con estuche">
        <figcaption class="txtimg">Estuches</figcaption>
      <li class="imgThree"><img class="imageThree" src="./assets/images/lpbts-mod05-img03-mob.png" alt="Niña con bolsa">
        <figcaption class="txtimg">Bolsas de deporte</figcaption>
    </ul>
    <a class="start" href="">Empezar ahora</a>




  </section>

</main>