* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.hero {
  height: 100vh;
  background-image: url("../images/cover.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 83%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .hero .article {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 165px;
    gap: 30px; }
    .hero .article .title {
      font-size: 30px;
      color: white;
      text-transform: uppercase;
      font-family: "Roboto Slab", serif;
      text-align: center; }
    .hero .article .text {
      color: white;
      font-family: "Roboto", sans-serif;
      height: 100px;
      width: 250px;
      text-align: center;
      font-size: 15px; }
    .hero .article .scroll-down {
      background-color: white;
      display: block;
      height: 50px;
      width: 50px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      bottom: 30px; }
      .hero .article .scroll-down .icon-scroll {
        height: 10px; }

.articleTwo {
  margin-top: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px; }
  .articleTwo .textTwo {
    color: #4a4a4a;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    line-height: 30px;
    width: 315px; }
  .articleTwo .small {
    font-family: "Roboto", sans-serif;
    color: #6c933e;
    text-transform: uppercase; }
  .articleTwo .titleTwo {
    text-transform: uppercase; }
  .articleTwo .buy {
    color: #6c933e;
    font-family: "Roboto Slab", serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 160px;
    text-decoration: none;
    background-color: white;
    border: solid #6c933e;
    border-radius: 20px;
    margin-top: 10px; }

.sectionThree {
  background-color: #d9e4cc;
  text-align: center; }
  .sectionThree .smallT {
    color: #4a4a4a;
    font-family: "Roboto Slab", serif; }
  .sectionThree .titleThree {
    text-transform: uppercase;
    color: black;
    font-family: "Roboto Slab", serif;
    font-size: 22px; }
  .sectionThree .circleImages {
    display: grid;
    grid-template-columns: 1rf 1fr 1fr;
    grid-template-areas: 'imageOne' 'imagetwo' 'imageThree';
    justify-content: center;
    justify-items: center;
    gap: 10px;
    margin-top: 25px; }
  .sectionThree .imageOne {
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 4px 4px gray; }
  .sectionThree .imagetwo {
    height: 150px;
    border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 4px 4px gray; }
  .sectionThree .imageThree {
    height: 150px;
    border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 4px 4px gray; }
  .sectionThree .txtimg {
    font-family: "Roboto Slab", serif;
    color: #4a4a4a; }

.header .menu {
  background-color: #6c933e;
  display: block;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed; }
  .header .menu .icon-menu {
    height: 25px;
    padding: 5px; }

/*# sourceMappingURL=main.css.map */
